@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    box-sizing:border-box;
}

body{
    color:#fff;
    background:#224941 url('./img/bg.jpg') no-repeat center center/cover;

    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat',sans-seriff;
    margin:0;
}

.container{
display:flex;
align-items: center;
justify-content: center;
margin:auto;

height:300px;
width:300px;
position: relative;
transform: scale(1);
}
.circle{
background-color: #010f1c;
height:100%;
width: 100%;
border-radius: 50%;
position: absolute;
z-index: -1;
}

.gradient-circle{
background:conic-gradient(
    #55b7a4 0%,
    #316b60 40%,
    #ffffff 40%,
    #ffffff 60%,
    #316b60 60%,
    #1c3d37 100%
);
width:320px;
height:320px;
z-index:-2;
top:-10px;
left:-10px;
border-radius:50%;
position:absolute;

}

.pointer{
    background-color:#fff;
    border-radius: 50%;
    height:20px;
    width:20px;
    /* display:20px; */
    display: block;
    
}

.pointer-container{
    top:-40px;
    left:140px;
    position: absolute;
    /* background-color: blue; */
    height:190px;
    animation:rotate 7.5s linear forwards infinite;
    transform-origin:bottom center;
}

@keyframes rotate{
    from {
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}

.container.grow{
    animation : grow 3s linear forwards;
}

@keyframes grow{
    from{
        transform:scale(1);
    }
    to{transform:scale(1.2);
    }
}
.container.shrink{
    animation : shrink 3s linear forwards;
}

@keyframes shrink{
    from{
        transform:scale(1.2);
    }
    to{transform:scale(1);
    }
}
